extends container
block content
    div
        | Welcome #{userName}
        | If you forgot your password and wonna recover it, please pass by link 
        a(href=forgotPasswordUrl) recover password
