doctype html
html
    head
        style
            include style.css
    body
        div
            | Welcome you success register in our site
        div
            block content
        div.footer
            | Best regards
            br
            a(href=frontendURL) Inoxoft course Node.js
